language: node_js
node_js:
  - node
cache:
  directories:
    - node_modules
deploy:
  provider: s3
  access_key_id: "$BRANDEDTEST_ACCES_KEY"
  secret_access_key: "$BRANDEDTEST_PASS_KEY"
  bucket: "testbrandedcontent"
  acl: public_read
  skip_cleanup: true
  local_dir: build
branches:
  only:
    - master
addons:
  apt:
    update: true
